<div class="php54-side-toolbar">
    <a>
        <i class="iconfont icon-sousuo"></i>
        <div class="search"><input type="text" maxlength="20" placeholder="回车进行搜索"></div>
    </a>
    <a>
        <i class="iconfont icon-qrcode"></i>
        <div class="qr-box">
            <div class="qr-item-box">
                <img src="/static/index/img/wechat-public.jpg" alt="关注PHP54+公众号">
                <p>关注公众号</p>
            </div>

            <div class="qr-item-box">
                <img src="/static/index/img/wechat-cheni.jpg" alt="添加作者微信">
                <p>作者微信</p>
            </div>
        </div>
    </a>
    <a href="#top">
        <i class="iconfont icon-jiantou-copy-copy"></i>
    </a>
</div>

<footer>
    <div class="footer-content">
        <div class="list">
            <ul>
                <li><a href="javascript:;">PHP54+首页</a></li>
                <li><a href="javascript:;">所有文章</a></li>
                <li><a href="javascript:;">关于作者/留言</a></li>
                <li><i class="iconfont icon-sitemap"></i> <a href="/sitemap.html">网站地图</a></li>
                <li><i class="iconfont icon-rss"></i> <a href="/sitemap.xml">Rss订阅</a></li>
            </ul>
        </div>
        <div class="list">
                <ul>
                    <li><a href="/cookie.html"><i class="iconfont icon-chucun"></i> Cookie政策</a></li>
                    <li><i class="iconfont icon-beian"></i> {$config.record}</li>
                    <li><i class="iconfont icon-jingwuicon_svg-"></i> 京公网安备 11010502037664号</li>
                </ul>
            </div>
        <div class="list">
            <ul>
                <li>陈佚-CHENI | PHP全栈工程师 * 3+ years</li>
                <li>电话联系（仅限紧急情况）</li>
                <li><i class="iconfont icon-dianhua"></i> <a href="tel:15901432750">15901432750</a></li>
                <li>微信联系（活跃）</li>
                <li><i class="iconfont icon-wechat"></i> K65480169</li>
                <li>QQ（常年不在线）</li>
                <li><i class="iconfont icon-qq"></i> 654080169</li>
                <li>邮箱方式（博客运营主要联系方式）</li>
                <li><i class="iconfont icon-email"></i> <a href="mailto:cheni@php54.com">cheni@php54.com</a></li>
            </ul>
        </div>
        <p style="clear:both"></p>
        <span>© PHP54+ 2019</span>
    </div>
</footer>