<header>
    <nav>
        <span><a href="/" title="PHP54+">PHP54+</a></span>
        <!-- <span>
            <a href="/category.html">PHP</a>
            <div class="detail">
                <ul>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+1</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+2</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+13</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+14</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+15</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+61</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+71</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+81</a></li>
                    <li><a href="javascript:;">大家好，欢迎来到PHP54+91</a></li>
                </ul>
            </div>
        </span> -->
        {volist id='nav' name='nav'}
            <span><a href="/{$nav.url}.html" title="{$nav.name}" >{$nav.name}</a></span>
        {/volist}
    </nav>
</header>